
:root {
    --body-bg:rgb(159, 212, 243); 
    --colorBackground: rgb(253, 252, 252, 0.822);
    --text: rgba(0, 0, 0, 0.911);
    --border: rgb(97, 255, 97);
    --IMG: url("../img/LigthMode.jpg");
    --houver: rgb(86, 176, 236);

}  
.dark-mode{
    --body-bg: black;
    --colorBackground: #46464693;
    --text: white;
    --border: rgb(185, 2, 109);
    --IMG: url("../img/DarkMode.jpg");
    --houver: rgb(252, 74, 74);
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');


#darkmodebutton{
    width: 10%;
    font-size: 100%;
    border: 3px solid var(--border);
    border-radius: 30px;
    background-color: var(--colorBackground);
    color: var(--text);
    padding: 1%;

    

}

body {

    background-image: var(--IMG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

 
}
.container-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.header{
    text-align: center;
    margin: 4% 19%;
    background-color: var(--colorBackground);
    border: 3px solid var(--border);
    border-radius: 30px;
    color: var(--text);
    padding: 20px;
    font-family: 'Lato', sans-serif;  
}



.logo {
    width: 60%;
    padding-top: 10px;

}

.fotoAle{
    
    height: 180px;
    width: 180px;
    border-radius: 50% ;
    padding: 60px;  

}



.menu { 
    width: 100%;
    text-align: center; 
    font-family: 'Lato', sans-serif;
    color: var(--text);
}


.bkcW {
    background-color: var(--colorBackground);
    border-radius: 30px;
    margin: 4%;
    border: 3px solid var(--border);
    

}

.botao {
    background-color: var(--colorBackground);
    text-align: center;
    font-size: 100%;
    color: var(--text);
    width: 30%;
    padding: 5%;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid var(--border);
    transition: .5s;
    font-family: 'Lato', sans-serif;  
}

.botao:hover {
    background-color:var( --houver);
    color:white;
}

p{
    text-indent: 40px;
  }

.ItsMe {
    color: var(--text);
    font-family: 'Lato', sans-serif;
    padding: 100px;   
}

form {
    border-radius: 10px;
    margin: 5%;
    background-color: var(--colorBackground);
    padding: 60px;
    border: 3px solid var(--border);
    font-family: 'Lato', sans-serif; 
    color: var(--text);
}
.textcenter{
    text-align: center;
}

input, textarea {
    width: 90%;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    background-color: var( --houver);
}

.espaco{
    padding-bottom: 600px;

}

#idNome{
    width: 50%;
}
#textarea{
    height: 100px;
}

#botaoform{
    width: 40%;
    height: 20%;

}

#botoes{
    padding-bottom: 60px;
}
